**__pycache__
__pycache__/
.vscode/
*.vscode/*
*.vscode/settings.json
*.vscode/tasks.json
*.vscode/launch.json
*.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

*.zip

.data

conexao_mapeamento.py

flask-api

*.db

*.npy

.ipynb_checkpoints

*.log

postgres
Flask/Books/postgres

/venv

rootkey.csv
~./aws
